version: "3.3"

services:
  backend:
    build: ./backend
    container_name: tp-backend
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=admin
      - DB_PASSWORD=secret
      - DB_NAME=mydb
    ports:
      - "3000:3000"
    networks:
      - webnet

  frontend:
    build: ./frontend
    container_name: tp-frontend
    depends_on:
      - backend
    ports:
      - "8080:80"
    networks:
      - webnet
  db:
    build: ./database
    container_name: tp-db
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=mydb
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - webnet

  
  
networks:
  webnet:
    driver: bridge 
volumes:
  db-data:



