name: CI - Build Docker image

on:                               # Déclencheurs
  push:
    branches: [ main ]            # Le pipeline s'exécute à chaque push sur main
  pull_request :
    branches : [main]
jobs:                             # Ensemble des jobs (tâches)
  hello:
    runs-on: ubuntu-latest        # S'exécute sur un runner Ubuntu

    steps:                        # Liste des étapes à exécuter
      - name: Checkout code 
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build Backend Image
        run: |
          docker build -t tp-backend ./backend
      - name: Build frontend Image
        run: |
          docker build -t tp-frontend ./frontend
      - name: Build Backend Image
        run: |
          docker build -t tp-db ./database
      - name: List Docker Image
        run: |
          docker images

      
