name: CI - Test de base   # Nom du workflow

on:                               # Déclencheurs
  push:
    branches: [ main ]            # Le pipeline s'exécute à chaque push sur main
  pull_request :
    branches : [main]
jobs:                             # Ensemble des jobs (tâches)
  build:
    runs-on: ubuntu-latest        # S'exécute sur un runner Ubuntu

    steps:                        # Liste des étapes à exécuter
      - name: afficher un message
        run: echo "CI fonctionne ! "

      
